@page
@model ingabemman.Pages.ImageGalleryModel
@{
}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="canonical" href="https://ingabemman.azurewebsites.net/ImageGallery">
<meta property="og:title" content="Inga Bemman Image Gallery">
<meta property="og:type" content="website">
<meta property="og:url" content="https://ingabemman.azurewebsites.net/ImageGallery">
<meta property="og:image" content="https://ingabemman.azurewebsites.net/images/inga_bemman_2020_seattle-min.PNG">
<meta property="og:description" content="Inga Bemman Seattle, WA , Maricopa, AZ">
<div class="jumbotron text-center">
    <h1>Image Gallery</h1>
   
</div>

<div class="container">
    <div class="row" id="gallery">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://ingabemman.azurewebsites.net/gallery/inga_bemman_arizona_maricopa_dessert.html">
                    <img src="/images/inga_bemman_arizona_maricopa_dessert-min.jpg" alt="Arizona Desert" class="img-thumbnail" style="width:100%">
                    <div class="caption">
                        <p>Arizona Dessert</p>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://ingabemman.azurewebsites.net/gallery/inga_bemman_cloud_expo.html">
                    <img src="~/images/inga_bemman_cloud_expo-min.jpg" alt="Cloud Expo New York 2015" class="img-thumbnail" style="width:100%">
                    <div class="caption">
                        <p>Cloud Expo New York 2015</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://ingabemman.azurewebsites.net/gallery/inga_bemman_beach.html">
                    <img src="~/images/inga_bemman_beach-min.jpg" alt="Inga Bemman at the Beach" class="img-thumbnail" style="width:100%">
                    <div class="caption">
                        <p>Beach</p>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://ingabemman.azurewebsites.net/gallery/inga_bemman_detroit_2020_surface.html">
                    <img src="~/images/inga_bemman_detroit_2020_surface-min.jpg" alt="Inga Bemman in Detroit 2020" class="img-thumbnail" style="width:100%">
                    <div class="caption">
                        <p>Detroit</p>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://ingabemman.azurewebsites.net/gallery/inga_bemman_detroit_2020_the_brakeman_caffee.html">
                    <img src="~/images/inga_bemman_detroit_2020_the_brakeman_caffee-min.jpg" alt="Inga Bemman in Detroit" class="img-thumbnail" style="width:100%">
                    <div class="caption">
                        <p>Detroit Brakeman spot</p>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://ingabemman.azurewebsites.net/gallery/inga_bemman_loyola_university_new_orleans.html">
                    <img src="~/images/inga_bemman_loyola_university_new_orleans-min.jpg" alt="Inga Bemman at Loyola University" class="img-thumbnail" style="width:100%">
                    <div class="caption">
                        <p>Loyola University</p>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://ingabemman.azurewebsites.net/gallery/inga_bemman_euro_bike.html">
                    <img src="~/images/inga_bemman_euro_bike-min.jpg" alt="Inga Bemman Bike" class="img-thumbnail" style="width:100%">
                    <div class="caption">
                        <p>Euro Bike</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://ingabemman.azurewebsites.net/gallery/inga_bemman_sailing.html">
                    <img src="~/images/inga_bemman_sailing-min.jpg" alt="Inga Bemman Sailing" class="img-thumbnail" style="width:100%">
                    <div class="caption">
                        <p>Sailing</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <a href="https://ingabemman.azurewebsites.net/gallery/inga_bemman_maricopa_arizona_intel_2017.html">
                    <img src="~/images/inga_bemman_maricopa_arizona_intel_2017-min.jpg" alt="Inga Bemman Bike" class="img-thumbnail" style="width:100%">
                    <div class="caption">
                        <p>Intel 2017</p>
                    </div>
                </a>
            </div>
        </div>



    </div>
</div>