@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Website</h1>
    <br />
    <div class="container">
        <h3>About me</h3>
        <p>
            Hi, my name is Inga and I am software engineer . I work primarily on #windows desktop applications in .NET C# , C++ or Java . Besides that I do #network, #unix server and cloud administration, devOps, backend development, database design and modeling, systems design and architecture.
        </p>

    </div>

    <div class="container">
        <img src="~/images/inga_bemman_anderson_island-min.PNG" alt="Inga Bemman" class="img-thumbnail" width="231" height="325" />

    </div>
    <br />
    <div class="container">
        In my lifetime  I developed a wide array #websites, #desktop and mobile apps, (web) #services in all kind of programming languages and dev stacks.

        As a privacy advocate I support <a href="https://whonix.org">Whonix.org</a> privacy and anonymity OS as well as open source movement started by Richard Stallman.<br/>

        My <a href="https://www.github.com/i470">#github</a> and here is my app portfolio for work related stuff <a href="https://www.xaml.shop">https://www.xaml.shop </a>

        I love #WikiPedia and I read insane amount of books and mostly spend my time learning about wide array of subjects on tech, quantum programming paradigms, physics, math and anything else that captures my never ending thirst of curiosity. A loner by nature I shy away from crowds and live happily ever after with my husband in Southern Louisiana.

        Easiest way to get in touch with me is to send me a <a href="https://t.me/r0otchi">telegram</a>
    </div>


</div>
