@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container p-3 my-3 border">
    <div>
    <p>This website does not collect any information</p>
    <p>This website has Google and Bing Webmaster Tags for indexing, they might be collecting information about your location and visits to this website<p>
    </div>


        <div class="card">
            <div class="card-header">Privacy Matters</div>
            <div class="card-body">

                <p>
                    Privacy is personal. Technically speaking, it’s a #root right
                    <a href="https://cyber.harvard.edu/projectvrm/Privacy_Manifesto">Harvard Privacy Manifesto</a>
                </p>
            </div>
        </div>
    
<div>

    <br/>

    <h3>Privacy Tools</h3>

    <p>Best Privacy Browser Extension <a href="https://privacybadger.org/">Get Privacy Badger</a> from <a href="https://www.eff.org/about">Electronic Frontier Foundation </a></p>

    <p><b>United Nations</b> <a href="https://www.un.org/en/universal-declaration-human-rights/">Universal Declaration of Human Rights</a></p>
    <p>DuckDuckGo Tracker Radar Dataset <a href="https://github.com/duckduckgo/tracker-radar" target="_blank">Github</a></p>
    <p>Blacklight Tracker inspection for <a href="https://themarkup.org/blacklight?url=ingabemman.azurewebsites.net" target="_blank">ingabemman.azurewebsites.net</a></p>
    <p>
        What is your fingerprint <a href="https://amiunique.org/" target="_blank">Am I unique</a>

</div>

</div>